@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
/* body {
    font-family: Relay,sans-serif;
    color: aliceblue;
    font-size: 48;
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  } */

p{
    color: azure;
}

h1{
    color: azure;
    margin-left: 2%;
    font-size: 40px;
    background-color: teal;
    border-radius: 15%;
}

  body {
    font-family: Raleway,sans-serif;
    font-size: 48;
    background-color: rgb(59, 153, 163);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .firstContainer{
    width: auto;
    background-color: rgb(59, 153, 163);
    border: 2%;

  }

  .secondContainer{
    width: auto;
    min-height: 800px;
    background-color: rgb(3, 97, 97);
    border: 1px solid rgb(10, 63, 61);
    margin-top: 20%;
  }

  .header{
    display: flex;
    height: 220;

  }

  .titleblock{
    display: flex;
  }

  .navi{
    display:table-caption;
    padding-left:15% ;
  }


  button{
    border: none;
    background: none;
    cursor: pointer;
    color: white;
    font-size: 15px;
    text-decoration:none;

  }

  .mainbutton{
    border: 3px white;
    background: rgb(166, 255, 197);
    color: white;
    font-size: 25px;
    margin-top: 5%;
    color: teal;
    border-radius: 5%;
    width: 280px;
    transition: background 1.5s ease;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

  }

.mainbutton :hover{
  background-color: rgb(4, 73, 91);
}


a{
  text-decoration:none;
  color: white;
}


  .navig ul {
    display: flex;
    list-style-type: none;
    position: absolute;
    left:75%;
  }


  .navig li a{

    display: flex;
    padding: 20px;
    text-decoration:none;
    color: white;
    border: 2px solid teal;
    transition: background 1.5s ease;


  }
  .navig li a:hover{
    background-color: rgb(4, 73, 91);
  }

  

.cont{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.sidebar{

}