.signin-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Impact';


    h1 {
        text-align: center;
    }

    .autorization-form {
        font-family: 'Impact';
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color: blueviolet;
        border-radius: 15px;
        padding: 100px;
        box-shadow: 15px 10px 0px 0px #ab6aff;
        margin-top: 80px;
        margin-bottom: 80px;
        width: 30%;


        input {
            position: relative;
            display: block;
            font-size: 25px;
            border-radius: 10px;
            margin: 20px;
            font-family: 'Impact';
            box-shadow: 8px 10px 0px 0px #ab6aff;
            position: relative;
            width: 91%;
            padding: 5px;
            background-color: lightblue;
        }


        .pass-div {
            position: relative;
            display: flex;
            width: 100%;

            input {
                width: 100%;
            }

            label {
                position: absolute;
                left: 80%;
                margin-top: 36px;
                cursor: pointer;
            }
        }

        .btn-div {
            display: flex;

            #forgot-pass-btn,
            #account-state {
                position: relative;
                cursor: pointer;
            }

            #account-state {
                left: 14%;

                a {
                    color: white;
                }
            }

            #forgot-pass-btn {
                right: 14%;
            }
        }
    }
}
