.team-boxed {
    color:#000000;
    font-weight: bolder;
  }
  
  .team-boxed p {
    color:#ffffff;

  }
  
  .team-boxed h2 {
    font-weight:bold;
    margin-bottom:40px;
    padding-top:40px;
    color:inherit;
  }
  
  @media (max-width:767px) {
    .team-boxed h2 {
      margin-bottom:25px;
      padding-top:25px;
      font-size:24px;
    }
  }
  
  .team-boxed .intro {
    font-size:16px;
    max-width:500px;
    margin:0 auto;
  }
  
  .team-boxed .intro p {
    margin-bottom:0;

  }
  
  .team-boxed .people {
    padding:50px 0;
  }
  
  .team-boxed .item {
    text-align:center;
  }
  
  .team-boxed .item .box {
    text-align:center;
    padding:30px;
    background-color:#ff6e4e;
    margin-bottom:30px;
    border-radius: 50px;
    height: 600px;
  }
  
  .team-boxed .item .name {
    font-weight:bold;
    color:inherit;
    margin-top:28px;
    margin-bottom:8px;
    font-size:30px;

  }
  
  .team-boxed .item .title {
    text-transform:uppercase;
    font-weight:bold;
    color:#7c7c7c;
    letter-spacing:2px;
    font-size:20px;
  }
  
  .team-boxed .item .description {
    font-size:20px;
    margin-top:15px;
    margin-bottom:20px;
  }
  
  .team-boxed .item img {
    max-width:160px;
  }
  
  .team-boxed .social {
    font-size:18px;
    color:#a2a8ae;
  }
  
  .team-boxed .social a {
    color:inherit;
    margin:0 10px;
    display:inline-block;
    opacity:0.7;
  }
  
  .team-boxed .social a:hover {
    opacity:1;
  }


  

.box {
  text-align: center;
  background-color:#ff6e4e;
  border-radius: 50px;
  border: 5px white solid;
}

.box img{
  width: 250px;
  height: 250px;
}


