.header-button
{
    display: flex;
    border-width: 3px;
    font-size: 25px;
    border-radius: 5px;
    border-color: black;
    font-family: "Handjet";
    font-weight: bold;
    background-color: rgb(255, 207, 143);
}

.header-button:hover
{
    color: rgb(255, 255, 255);
    background: linear-gradient(90deg, #ffd103, #ff2277); 
}

.header-button.search-button {
    background-image: url(../Icon/Search.png);
    background-repeat: no-repeat;
    background-size: 20px; 
    background-position: left center; 
    padding-left: 30px; 
}

.header-button.search-button:hover {
    background-color: rgb(152, 86, 0);
}

