@import 'Addons';
$color_1: #ff2277;
$color_2: white;
$font-family_1: "Handjet";
$font-family_2: "Tilt Prism";
$background-color_1: rgba(255, 182, 193, 0.6);
$background-color_2: #9e001ab3;
$background-color_3: #ff2277;

@keyframes hideButton {
	0% {
		width: 180px;
	}
	100% {
		width: 0;
		padding: 0;
		margin: 0;
		border: none;
	}
}
html {
	background: linear-gradient(90deg, #4300a1,#f36500);
}
body {
	background: linear-gradient(90deg, #4300a1,#f36500);
}
.main-div {
	display: flex;
	flex-direction: column;
	border: solid black 2px;
	position: absolute;
	align-self: center;
	align-items: center;
	justify-content: center;
	border-radius: 25px;
	height: 720px;
	width: 30%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: $background-color_1;
	font-family: $font-family_1;
	transition: all ease 0.5;
	input {
		font-size: 35px;
	}
}
.login-div {
	h1 {
		font-family: $font-family_2;
		color: $color_1;
		font-size: 70px;
		position: absolute;
		top: 5%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	display: flexbox;
	form {
		display: flex;
		margin: 15px;
	}
}
.remember-me {
	display: flex;
	font-size: 30px;
	margin-top: 10px;
	input {
		width: 20px;
		height: 20px;
		transition: all ease 0.5s;
		&:hover {
			width: 30px;
			height: 30px;
		}
	}
}
.submit-sign-in {
	width: 180px;
	font-size: 32px;
	border-radius: 5px;
	left: 50%;
	bottom: 15%;
	transform: translate(-50%, -50%);
	position: absolute;
	border: none;
	border-top: solid $color_1 5px;
	border-left: solid $color_1 3px;
	background-color: $background-color_2;
	color: $color_2;
	font-family: $font-family_1;
	transition: all ease 0.5s;
	&:hover {
		border-top: solid #9e001ab3 3px;
		border-left: solid #9e001ab3 8px;
		background-color: $background-color_3;
	}
	&:active {
		border-top: solid $background-color_2 3px;
		border-left: solid $background-color_2 8px;
		background-color: $background-color_3;
		width: 100%;
	}
}
.submit-signup {
	width: 180px;
	font-size: 28px;
	border-radius: 5px;
	left: 50%;
	bottom: 15%;
	transform: translate(-50%, -50%);
	position: absolute;
	border: none;
	border-top: solid $background-color_2 5px;
	border-left: solid $background-color_2 3px;
	background-color: $background-color_3;
	color: $color_2;
	font-family: $font-family_1;
	transition: all ease 0.5s;
	&:hover {
		border-top: solid $color_1 3px;
		border-left: solid $color_1 8px;
		background-color: $background-color_2;
	}
	&:active {
		animation: hideButton 0.5s forwards;
	}
}
.new-acc-div {
	position: absolute;
	bottom: 3%;
	font-size: 23px;
	cursor: pointer;
	font-weight: bolder;
	a {
		text-decoration: none;
		color: $color_2;
		font-size: 25px;
	}
}
@media screen and (max-width: 1424px) {
	.main-div {
		height: 720px;
		width: 50%;
	}
	.login-div {
		h1 {
			font-size: 60px;
		}
		input {
			font-size: 35px;
		}
	}
	.new-acc-div {
		flex-wrap: wrap;
		align-self: center;
		justify-content: start;
		font-size: 20px;
		a {
			font-size: 20px;
		}
	}
}
@media screen and (max-width: 770px) {
	.main-div {
		height: 720px;
		width: 60%;
	}
	.login-div {
		h1 {
			font-size: 45px;
		}
		input {
			font-size: 25px;
		}
	}
	.new-acc-div {
		flex-wrap: wrap;
		bottom: 3%;
		left: 25%;
		font-size: 16px;
		a {
			font-size: 17px;
		}
	}
}
